@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    18 1/2 West State St.<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    330.844.8127
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:vm664816@ohio.edu">vm664816@ohio.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:official.vincentmurray@gmail.com">official.vincentmurray@gmail.com</a>
</address>